@charset "utf-8";
@use "../base/mixins" as *;

/** @section General layout */
body {
    font-family: var(--font);
    color: var(--primary);
    background: var(--primary-background);
    display: flex;
    flex-direction: column;
    min-height: 100dvb;
}
main {
    flex: 1;
    padding: 8.1rem var(--outer-spacing-inline);
    @include css-media-queries($from-breakpoint: multicolumn-dashboard) {
        display: grid;
        place-items: center;
    }
}
.attribution {
    font-size: 1.1rem;
    text-align: center;
    a {
        color: inherit;
    }
}
