@charset "utf-8";
@use "../base/mixins" as *;
@use "./mixins" as mixins;

/** @section Dashboard */
.dashboard {
    line-height: normal;
    header {
        font-size: 1.8rem;
        background: var(--secondary-background);
        border-radius: var(--dashboard-radius);
        nav {
            display: flex;
            padding-block: 2.4rem 2.5rem;
        }
        button {
            @include mixins.dashboard-button;
            color: var(--secondary);
            flex: 1;
            &:hover,
            &:focus,
            &.active {
                color: var(--primary);
            }
        }
        img {
            grid-row: 1 / -1;
            align-self: center;
            border: 3px solid var(--primary);
            border-radius: 50%;
        }
        .title {
            font-size: 1.5rem;
            font-weight: normal;
            color: var(--tertiary);
            background: var(--tertiary-background);
            display: grid;
            grid-template: repeat(2, 0fr) /  70px 1fr;
            gap: .4rem 2rem;
            align-items: end;
            padding: 3.2rem 2.9rem;
            border-radius: var(--dashboard-radius);
        }
        .name {
            font-size: 2.4rem;
            font-weight: 300;
            color: var(--primary);
            align-self: start;
        }
    }
    @include css-media-queries($from-breakpoint: multicolumn-dashboard) {
        --dashboard-card-gap: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, var(--dashboard-card-size));
        gap: var(--dashboard-card-gap);
        justify-content: center;
        inline-size: clamp(54rem, calc(100dvi - var(--outer-spacing-inline) * 2), 111rem);
        header {
            grid-row: span 2;
            nav {
                flex-direction: column;
                gap: 2.1rem;
                align-items: flex-start;
                padding: 2.6rem 3.2rem 3.3rem;
            }
            img,
            .title,
            .name {
                display: block;
            }
            img {
                width: 78px;
                aspect-ratio: 1;
                margin-block-end: 4rem;
                box-shadow: rgb(0 0 0 / .25) 0 .4rem .4rem;
            }
            .title {
                padding-block: 3.4rem 8rem;
            }
            .name {
                font-size: 4rem;
                margin-block-start: .3rem;
            }
        }
    }
}
